# Xcode
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# SwiftPM
.build/
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# macOS
.DS_Store

# Node
node_modules/
